@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --gray-light: #636464;
    --black-dark: #2D2D2D;
    --back-light: #2A2B2A;
    --back-super-dark: #171717;
}

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--gray-light);
    display: flex;
    padding: 15px 40px;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    flex: 4;
}

header .logo img{
    width: 200px;
}

header .actions{
    flex: 4;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .actions .user-avt{
    width: 100%;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    cursor: pointer;
}

header .actions .btn-action{
    border: none;
    background: none;
    margin-right: 40px;
    cursor: pointer;
}

header .search-bar{
    flex: 6;
    position: relative;
}

header .search-bar input{
    background-color: var(--black-dark);
    color: white;
    border-radius: 40px;
    border: none;
    font-size: 17px;
    padding: 17px 35px;
    padding-right: 0;
    width: 100%;
    outline: none;
}

header .search-bar .input-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid white;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

header .search-bar input::placeholder{
    color: white;
}

.container{
    display: flex;
    min-height: 100vh;
}

.container .side-nav{
    padding: 30px 40px;
    background: var(--back-light);
    max-width: 450px;
    width: 450px;
    position: relative;
}

.container .side-nav .main-feature{
    margin-top: 30px;
}

.container .side-nav .main-feature .nav-item{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container .side-nav .main-feature .nav-item .nav-link{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-left: 30px;
}

.container .side-nav .main-feature .nav-item img{
    max-width: 54px;
    max-height: 54px;
}

.container .side-nav .accounts{
    margin-top: 70px;
}

.container .side-nav .accounts div{
    display: flex;
    align-items: center;
}

.container .side-nav .accounts img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.container .side-nav .accounts .btn-more{
    border: none;
    background-color: var(--gray-light);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    display: flex;
   cursor: pointer;
}

.container .side-nav .accounts .btn-more img{
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
}

.container .side-nav .accounts .title{
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
}

.container .side-nav .copyright{
    color: white;
    margin-top: 200px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    left: 40px;
}

.container .side-nav .copyright .content{
    line-height: 32px;
}

.container .side-nav .copyright .sub-content{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.container .side-nav .copyright .sub-content img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.container .content-container{
    width: 100%;
    background-color: var(--back-super-dark);
}

.container .content-container .username{
    font-size: 22px;
    font-weight: 600;
}

.container .content-container .info{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

.container .for-you-content{
    padding-left: 30px;
    width: 50vw;
    color: white;
    padding-top: 20px;
    font-weight: 300;
}

.container .for-you-content .post .user-avt img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    object-fit: cover;
}

.container .for-you-content .post{
    display: flex;
}

.container .for-you-content .post .user-avt{
    margin-right: 20px;
}

.container .for-you-content .post-content-container .post-content{
    max-width: 79%;
    line-height: 26px;
}

.container .for-you-content .post-content-container .user-interact{
    display: flex;
    margin-top: 50px;
    width: 100%;
}

.container .for-you-content .post-content-container .user-interact .video{
    margin-right: 30px;
    border-radius: 12px;
    width: 100%;
}

.container .for-you-content .post-content-container .user-interact .user-interact-left{
   flex: 1;
   height: 100%;
}

.container .for-you-content .post-content-container .user-interact .user-interact-right{
    width: 100%;
    flex: 1;
    margin-left: 16px;
}

.container .for-you-content .post-content-container .user-interact .btn-follow{
    border: none;
    background-color: var(--gray-light);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 17px;
    cursor: pointer;
}

.container .for-you-content .post-content-container .user-interact .comments{
    border-radius: 8px;
    padding: 6px;
    background-color: #2F302F;
    height: 91%;
}

.container .for-you-content .post-content-container .user-interact .comments .wrapper{
    height: 91%;
    background-color: var(--back-super-dark);
}

.container .for-you-content .post-content-container .user-interact .comments .comments-inner{
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 15px;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment{
    display: flex;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment .user-avt img{
    width: 72px;
    height: 72px;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment .username{
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
}


.container .for-you-content .post-content-container .user-interact .comments .heart{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.container .for-you-content .post-content-container .user-interact .comments .heart .heart-num{
    color: #B1B1B2;
}

.container .for-you-content .post-content-container .user-interact .comments .heart img{
    width: 28px;
    height: 28px;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment .user-comment-content{
    margin-top: 10px;
    width: 100%;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment .user-comment-content .comment-content{
    font-weight: 300;
    line-height: 28px;
    color: white;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment .user-comment-content .reply{
    display: flex;
    color: #B1B1B2;
}

.container .for-you-content .post-content-container .user-interact .comments .user-comment .user-comment-content .reply div:nth-child(1){
    margin-right: 30px;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions{
    display: flex;
    padding: 20px 25px;
    align-items: center;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions .heart{
    margin-right: 12px;
    cursor: pointer;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions img{
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions .comment-input{
    display: flex;
    width: 100%;
    position: relative;
    margin-right: 16px;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions .comment-input input{
    background-color: #636464;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 15px 20px;
    width: 100%;
    color: white;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions .comment-input .action-group{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions .comment-input .action-group img{
    width: 22px;
    height: 22px;
}

.container .for-you-content .post-content-container .user-interact .comments .comment-actions .comment-input input::placeholder{
    color: white;
}

.reply-list{
    margin-left: 60px;
}

.reply-list .user-avt img{
    width: 48px !important;
    height: 48px !important;
}

.reply-list .username{
    font-size: 14px !important;
}

.reply-list .user-comment-content{
    margin-top: -5px !important;
}